.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.home {
  background: url('./img/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
  position: relative;
  top: 2%;
}
.searchbox {
  position: absolute;
  left: 10%;
}
.timendate {
  position: absolute;
  right: 2%;
}
h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #888888;
}
.panel {
  position: relative;
  top: 13%;
}
.leftpanel {
  position: absolute;
  left: 10%;
  height: 60%;
}

.geners {
  list-style: none;
  padding-left: 15px;
}

.artistlist {
  position: absolute;
  left: 64%;
}
.artistlisto {
  overflow-y: scroll;
  max-height: 410px;
}
.artistinfo {
  height: 124px;
  width: 400px;
  margin: 10px;
  border-bottom: 2px dotted white;
}
img {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#f3cddf, rgb(243, 193, 208));
  border-radius: 15px;
}
